<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DAL.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=DESKTOP-14KFC4R\SQLEXPRESS; Initial Catalog=NewDB; User id=sa;Password=123456;</value>
            </setting>
            <setting name="ConnectionStringLong" serializeAs="String">
                <value>Data Source=localhost; Initial Catalog=NewDB; User id=sa;Password=onetwothree;MultipleActiveResultSets=True;</value>
            </setting>
            <setting name="ConnectionStringHao" serializeAs="String">
                <value>Data Source=HDM-PC-DC54PLF;Initial Catalog=NewDB;Integrated Security=True;MultipleActiveResultSets=True;</value>
            </setting>
            <setting name="ConnectionStringCuong" serializeAs="String">
                <value>Data Source=DESKTOP-14KFC4R\SQLEXPRESS; Initial Catalog=NewDB; User id=sa;Password=123456;MultipleActiveResultSets=True;</value>
            </setting>
        </DAL.Properties.Settings>
    </applicationSettings>
</configuration>